@import url('https://fonts.googleapis.com/css?family=Ysabeau');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ysabeau;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cf-border {
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) 50%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  height: 1px;
  width: 100%;
}

.cf-border-small {
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) 50%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  height: 1px;
  width: 75%;
}

.img-border {
  outline: 1px solid white;
  outline-offset: -12px;
}

.cf-dot-seperator > span:not(:last-child)::after {
    content: "●";
    color: #666;
    font-size: 10px;
    margin: 0px 10px;
    /* position: absolute;
    right: -18px;
    top: 10px;
    font-size: 6px; */
}