@import url('https://fonts.googleapis.com/css?family=Ysabeau');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ysabeau;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cf-border {
  display: inline-block;
  background: rgb(51,51,51,0.4);
  background: radial-gradient(circle, rgba(51,51,51,0.4) 40%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  height: 1px;
  width: 82%;
}

.cf-border-small {
  display: inline-block;
  background: rgb(51,51,51,0.4);
  background: radial-gradient(circle, rgba(51,51,51,0.4) 40%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  height: 1px;
  width: 18%;
}

.img-border {
  outline: 1px solid white;
  outline-offset: -12px;
}

.cf-img-container:hover > div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex !important;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cf-dot-seperator > span:not(:last-child)::after {
  content: "â—";
  color: #666;
  font-size: 10px;
  margin: 0px 32px;
}

.btn-more-down::after {
  content: "\25be";
  color: #666;
  margin-left: 6px;
}

.btn-more-up::after {
  content: "\25b4";
  color: #666;
  margin-left: 6px;
}

.cf-form-control {
  box-shadow: none;
  border: 0px;
}

.cf-upload-box {
  width: 100%;
  height: 100%;
  padding: 50px 25px;
  border: 1px dashed gray;
}

.cf-progress-stacked, .cf-progress-stacked > .progress {
  height: 2rem;
  font-size: 0.8rem;
}